<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464550641512-lcgjc30idb8lgbi38jt8hrbe5dmq38ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464550641512-lcgjc30idb8lgbi38jt8hrbe5dmq38ph</string>
	<key>API_KEY</key>
	<string>AIzaSyCfMNvMgYhw3eUT8SfmnqFUVc6J8NEqo6g</string>
	<key>GCM_SENDER_ID</key>
	<string>464550641512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Me.FitTrack</string>
	<key>PROJECT_ID</key>
	<string>fittrack-517ae</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrack-517ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464550641512:ios:cb1777b96cb4a73c86e0dd</string>
</dict>
</plist>